<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="ture">
    <property name="appName" value="cms-service" />

    <property name="LOG_HOME" value="./log"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{traceId} %X{orderNo} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{50}) %cyan([%M:%L]) %yellow(%X{traceId}) %yellow(%X{orderNo}) - %highlight(%msg) %n</pattern>
        </encoder>
    </appender>

    <!--perf log-->
    <appender name="perfLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/perf.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/history/%d{yyyyMM,aux}/perf.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 异步输出 -->
    <appender name ="perfLogFile" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold >0</discardingThreshold>
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="perfLog"/>
    </appender>
    <!--perf log 用于grafana展示-->
    <logger name="speed4j" level="info" additivity="false">
        <appender-ref ref="perfLogFile"/>
    </logger>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/history/%d{yyyyMM,aux}/logFile.log.%d{yyyyMMdd}.%i.gz</fileNamePattern>
            <maxFileSize>1024MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name ="ASYNC_FILE" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold >0</discardingThreshold>
        <discardingThreshold>50</discardingThreshold>
        <queueSize>1024</queueSize>
        <maxFlushTime>500</maxFlushTime>
        <appender-ref ref="LOG_FILE"/>
    </appender>

    <!--dubbo日志输入配置-->
    <appender name="DUBBO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/dubbo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/history/%d{yyyyMM,aux}/dubbo.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name ="ASYNC_DUBBO" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold >0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="DUBBO"/>
    </appender>

    <appender name="ACCESS_JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/access-jsonFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/access-jsonFile.log.%d{yyyyMMdd}.%i.gz</FileNamePattern>
            <maxFileSize>2048MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ACCESS_JSON_FILE_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>50</discardingThreshold>
        <neverBlock>true</neverBlock>
        <maxFlushTime>500</maxFlushTime>
        <queueSize>1024</queueSize>
        <appender-ref ref="ACCESS_JSON_FILE"/>
    </appender>

    <appender name="ERR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/history/%d{yyyyMM,aux}/error.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name ="ASYNC_ERR_FILE" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold >0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="ERR_FILE"/>
    </appender>

    <!-- stderr 输出到文件 -->
    <appender name="STDERR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/stderr.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/history/%d{yyyyMM,aux}/stderr.log.%d{yyyyMMdd}</FileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDERR_FILE_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>50</discardingThreshold>
        <neverBlock>true</neverBlock>
        <maxFlushTime>500</maxFlushTime>
        <queueSize>1024</queueSize>
        <appender-ref ref="STDERR_FILE"/>
    </appender>

    <logger name="system.err" level="INFO" additivity="false">
        <appender-ref ref="STDERR_FILE_async"/>
    </logger>

    <!-- 所有环境都打印的日志 -->
    <logger name="SMART_DUBBO_ACCESS_LOG_JSON" level="DEBUG" additivity="false">
        <appender-ref ref="ACCESS_JSON_FILE_async"/>
    </logger>

    <root level="error">
        <appender-ref ref="ASYNC_ERR_FILE" />
    </root>
    <!-- 开发环境日志配置 -->
    <springProfile name="dev">
        <logger name="com.sq" level="INFO" addtivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_FILE" />
        </logger>
        <logger name="org.jfaster.mango" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_FILE" />
        </logger>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_FILE"/>
        </logger>
        <logger name="org.apache.dubbo" level="INFO" >
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_DUBBO"/>
        </logger>
    </springProfile>

    <!-- 测试环境日志配置 -->
    <springProfile name="test">
        <logger name="com.sq" level="INFO" addtivity="false">
            <appender-ref ref="ASYNC_FILE" />
        </logger>
        <logger name="org.jfaster.mango" level="INFO" additivity="false">
            <appender-ref ref="ASYNC_FILE" />
        </logger>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="ASYNC_FILE"/>
        </logger>
        <logger name="org.apache.dubbo" level="INFO" >
            <appender-ref ref="ASYNC_DUBBO"/>
        </logger>
    </springProfile>

    <!-- 预生产环境日志配置 -->
    <springProfile name="pre">
        <logger name="com.sq" level="INFO" addtivity="false">
            <appender-ref ref="ASYNC_FILE" />
        </logger>
        <logger name="org.jfaster.mango" level="INFO" additivity="false">
            <appender-ref ref="ASYNC_FILE" />
        </logger>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="ASYNC_FILE"/>
        </logger>
        <logger name="org.apache.dubbo" level="INFO" >
            <appender-ref ref="ASYNC_DUBBO"/>
        </logger>
    </springProfile>

    <!-- 线上环境日志配置 -->
    <springProfile name="online">
        <logger name="com.sq" level="INFO" addtivity="false">
            <appender-ref ref="ASYNC_FILE" />
        </logger>
        <logger name="org.jfaster.mango" level="INFO" additivity="false">
            <appender-ref ref="ASYNC_FILE" />
        </logger>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="ASYNC_FILE"/>
        </logger>
        <logger name="org.apache.dubbo" level="INFO" >
            <appender-ref ref="ASYNC_DUBBO"/>
        </logger>
    </springProfile>

</configuration>